<!DOCTYPE html>
<html>
	<title>Flask Graph</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<style>
		body,h1 {font-family: "Montserrat", sans-serif}
		img {margin-bottom: -7px}
		.w3-row-padding img {margin-bottom: 12px}
		
		input[type=text]:focus {
      border: 3px solid #555;
    }

    * {
      box-sizing: border-box;
    }

    select {
      border: 0 !important;
      /*Removes border*/
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /* Removes Default Firefox style*/
      background: #0088cc url(img/select-arrow.png) no-repeat 90% center;
      width: 50px;
      /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px;
      /* Removes default arrow from firefox*/
      text-overflow: "";
      /*Removes default arrow from firefox*/
      /*My custom style for fonts*/
      color: white;
      padding: 5px;
      box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 33%;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
	</style>

	<body>

		<!-- Sidebar -->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    	<i class="fa fa-remove"></i>
  	</a>
 	<div class="w3-bar-block w3-center">
    	<a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>
        <a href="http://192.168.1.50:5000/input_user" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Show The Graph</a>
	<a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Details</a>
	</div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">
	<!-- Header -->
<div class="w3-opacity">
<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
<div class="w3-clear"></div>
<header class="w31-center w3-margin-bottom">
   
<h1 style="text-align:center;"><b>Chemical Reaction Network (CRN)</b></h1>
<div style="width: 60%; left: 21%; padding-top:2%; position: relative">
<!--  <p><b>Apasa pentru a afisa graficul.</b></p>
  <p class="w3-padding-16"><button id="buton" class="w3-button w3-black" onclick="window.location='graph2';">Vezi graficul</button></p>
-->
<div class="content">
Chemical reaction network theory is an area of applied mathematics
 that attempts to model the behavior of real-world chemical systems.
Since its foundation in the 1960s, it has attracted a growing research community,
 mainly due to its applications in biochemistry and theoretical chemistry</div>

<div class="content" style="padding-top:1%">
A chemical reaction network (CRN) comprises a set of reactants, a set of products and a 
set of reactions. For example, the pair of combustion reactions:</div>
<div class="content" style="padding-top:1%">
2H<p style="font-size:9px; display:inline">2</p> + O<p style="font-size:9px; display:inline">2
</p> &rarr; 2H<p style="font-size:9px;display:inline">2</p>O<br>
&nbsp;&nbsp;&nbsp;C + O<p style="font-size:9px; display:inline">2</p> &rarr; CO<p style="font-size:9px; display:inline">2</p>
</div>
</div>


<!-- Am adaugat aici!!!   --------------------------------------- -->



						<p><center>
							<button id="Add" href="#" title="Add new reaction" style="height: 44px; width: 44px;">+</button> 
							<button id="Remove" href="#" title="Remove last reaction" style="height: 44px; width: 44px;">–</button> 
							<button id="reset_reaction_button" href="#" title="Reset all reactions" style="height: 44px; width: 44px;">--</button>
							<div><br><input id='right_reaction' type='text' size='20' maxlength='64' value='' spellcheck='false' placeholder='∅'/>
				                        <select id='selection' class='reaction_direction' >
										<option value='<--'> &#8592 </option>
										<option value='<-->' selected='selected'>⇌</option> 
										<option value='-->'> &#8594 </option>
										</select>	
										<input id='left_reaction' type='text' size='20' maxlength='64' value='' spellcheck='false' placeholder='∅'/>
								<br>
							</div>
							<div id="textboxDiv"></div>
						</p>



<!-- Pana aici!!! ----------------------------------------------------- -->
<div style="position: relative; left: 21%">
  <!--<p><b>Creare grafic personalizat.</b></p>-->
  <p class="w3-padding-16"><button id="buton" class="w3-button w3-black" onclick="window.location='input_user';">Generate Graph</button></p>
</div>
        <div>
            <input type="button" id="bt" value="Save data to file" onclick="saveFile()" />
        </div>
<center>
<!--<img src="/static/grafic.jpg" alt="my plot" width="150" height="150">-->
</center>

</header>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-54 w3-light-grey w3-center w3-opacity w3-xlarge" style="/*!margin-top:128px;  margin-left:-20px;*/ position:absolute;/*! bottom:0;*/ width:100%; padding-top:2%; padding-bottom:2%">
  <p class="w3-medium">2022@  <target="_blank" class="w3-hover-text-green"></a></p>
</footer>
<script>
   // Add textbox and remove textbox
        $(document).ready(() => {
            $("#Add").on("click", () => {
                $("#textboxDiv").append("<div><br><input type='text' size='20' maxlength='64' value='' spellcheck='false' placeholder='∅'/> "+ 
				                        "<select class='reaction_direction' >"+ 
										"<option value='left'>&#8592</option>"+
										"<option value='both' selected='selected'>⇌</option>"+ 
										"<option value='right'>&#8594</option>"+
										"</select> "+	
										"<input type='text' size='20' maxlength='64' value='' spellcheck='false' placeholder='∅'/><br></div> ");
            });  
            $("#Remove").on("click", () => {
                $("#textboxDiv").children().last().remove();  
            });  
        });  
		
		
		
	// Save text data in a file
	    let saveFile = () => {
    	
    // Get the data from each element on the form.
    	const rightreaction = document.getElementById('right_reaction');
        const select = document.getElementById('selection');
        const leftreaction = document.getElementById('left_reaction');
        
    // This variable stores all the data.
        let data = 
		rightreaction.value + ' ' + select.value + ' ' + leftreaction.value + '\n';
        
    // Convert the text to BLOB.
        const textToBLOB = new Blob([data], { type: 'text/plain' });
        const sFileName = 'Test.txt';	   // The file to save the data.
		const s = textToBLOB.CreateTextFile("metode_lucru/Test.txt", true);
		
//function WriteToFile()
//{
//var fso = new ActiveXObject("Scripting.FileSystemObject");
//var s = fso.CreateTextFile("metode_lucru/Test.txt", true);
//s.WriteLine('Hello');
//s.Close();
//}



        let newLink = document.createElement("a");
        newLink.download = sFileName;

        if (window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        }
        else {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "none";
            document.body.appendChild(newLink);
        }

        newLink.click(); 
    }
	
	
	
		
		
// Save text in txt.file		
var userInput = document.getElementById("textboxDiv").value;

var fileURL = 'data:application/notepad;charset=utf-8,' + encodeURIComponent(userInput);
var fileName = "test.txt";


if (!window.ActiveXObject) {
  var save = document.createElement('a');
  save.href = fileURL;

  save.target = '_blank';
  save.download = fileName || 'unknown';

  var event = document.createEvent('Event');
  event.initEvent('click', true, true);
  save.dispatchEvent(event);
  (window.URL || window.webkitURL).revokeObjectURL(save.href);
}

// for IE
else if (!!window.ActiveXObject && document.execCommand) {
  var _window = window.open(fileURL, '_blank');
  _window.document.close();
  _window.document.execCommand('SaveAs', true, fileName || fileURL)
  _window.close();
}
	
	
	
// Toggle grid padding
function myFunction() {
  var x = document.getElementById("myGrid");
  if (x.className === "w3-row") {
    x.className = "w3-row-padding";
  } else {
    x.className = x.className.replace("w3-row-padding", "w3-row");
  }
}

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
