<!DOCTYPE html>
<html>
  <title>Chemical Reaction Network</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/input_user.css">
  <style>
    input[type=text]:focus {
      border: 3px solid #555;
    }

    body,
    h1 {
      font-family: "Montserrat", sans-serif
    }

    * {
      box-sizing: border-box;
    }

    select {
      border: 0 !important;
      /*Removes border*/
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /* Removes Default Firefox style*/
      background: #0088cc url(img/select-arrow.png) no-repeat 90% center;
      width: 190px;
      /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px;
      /* Removes default arrow from firefox*/
      text-overflow: "";
      /*Removes default arrow from firefox*/
      /*My custom style for fonts*/
      color: white;
      padding: 5px;
      box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
    }

    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 33%;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <body>
    <!-- SlideBar -->
    <nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style=" display: none; padding-top:150px" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
        <i class="fa fa-remove"></i>
      </a>
      <div class="w3-bar-block w3-center">
        <a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>
        <a href="http://192.168.1.50:5000/input_user" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Show the Graph</a>
        <a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Details</a>
      </div>
    </nav>
    <div class="w3-content" style="max-width:1500px">
      <!--HEADER-->
      <div class="w3-opacity">
        <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </span>
        <div class="w3-clear"></div>
        <header class="w31-center w3-margin-bottom">
          <h1 style="text-align:center;">
            <b>Chemical Reaction Network (CRN)</b>
          </h1>
          <div style="width: 70%; left:15%; position:relative; transform:scale(0.9); margin-top:1%">
            <center>
              <!--<h1>C</h1>-->
              <form method="POST">
                <div class="row">
                  <div class="content">
                    <div class="column" style="background-color:white; color:gray">
                      <p style="padding-top:4%">In each txt file, we have represented a CRN with 1, 2 or 3 species and below the time of representation of graph</p>
                      <!-- <p style="display:inline">File</p>-->
                      <br>
                      <select id="comp_select" name="comp_select" style="display:inline; width:70%; text-align:center; margin-top:-4%" class="selectpicker form-control" onchange="reactionFilenameChanged()">
                          {% for o in data %}
                              <option value="{{ o.name }}"> {{ o.name }} </option>
                          {% endfor %}
                      </select>
                      <br>
                      <br>
                      <!--Aici avem specs: {{ specs1 }}-->
                      <p style="display:inline; padding-right:10%">Start Time</p>
                      <input id="NumberButton" type="number" step="any" class="w3-input w3-hover-blue" style="width:40%; display:inline; text-align:center" name="start_time" />
                      <br>
                      <div class="input-group">
                        <div class="form-group">
                          <br>
                          <p style="display:inline; padding-right:10%">End Time</p>
                          <input id="NumberButton" type="number" step="any" class="w3-input w3-hover-blue" style="width:40%; display:inline; text-align:center" name="end_time" />
                          <div class="form-group">
                            <div class="input-group">
                              <br>
                              <div></div>
                            </div>
                            <div></div>
                          </div>
                        </div>
                      </div>
<!--Am modificat aici -->
			   <div class="input-group">
                        <div class="form-group">
                          <br>
                          <p style="display:inline; padding-right:10%">Title of the Graph</p>
                          <input type="text" class="w3-input w3-hover-blue" style="width:80%; display:inline; text-align:center" name="titlu">
                          <div class="form-group">
                            <div class="input-group">
                              <br>
                              <div></div>
                            </div>
                            <div></div>
                          </div>
                        </div>
                      </div>
			   <div class="input-group">
                        <div class="form-group">
                          <p style="display:inline; padding-right:10%">x_title</p>
                          <input type="text" class="w3-input w3-hover-blue" style="width:80%; display:inline; text-align:center" name="x_titlu">
                          <div class="form-group">
                            <div class="input-group">
                              <br>
                              <div></div>
                            </div>
                            <div></div>
                          </div>
                        </div>
                      </div>
			   <div class="input-group">
                        <div class="form-group">
                          <p style="display:inline; padding-right:10%">y_title</p>
                          <input type="text" class="w3-input w3-hover-blue" style="width:80%; display:inline; text-align:center" name="y_titlu">
                          <div class="form-group">
                            <div class="input-group">
                              <br>
                              <div></div>
                            </div>
                            <div></div>
                          </div>
                        </div>
                      </div>
<!--Pana aici -->
                    </div>
                  </div>
                  <div class="content">
                    <div class="column" style="background-color:white; color:gray; border-left-width:1px; border-left-style:solid; border-right-width:1px; border-right-style:solid">
                      <p style="padding-top:4%">A, B, C represent the species of the chemical reaction network together with the initial values of each species</p>
                      <div id="undeVinSpeciile">
                        <div class="form-group">
                          <div class="input-group">
                            <p style="display:inline;padding-right:10%">A</p>
                            <input class="w3-input w3-hover-blue" style="width:60%; display:inline; text-align:center" type="text" name="valinit">
                            <br>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <p style="display:inline;padding-right:10%">B</p>
                            <input class="w3-input w3-hover-blue" style="width:60%; display:inline; text-align:center" type="text" name="valinit2">
                            <br>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <p style="display:inline;padding-right:10%">C</p>
                            <input class="w3-input w3-hover-blue" style="width:60%;display: inline;text-align:center" type="text" name="valinit3">
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="column" style="background-color:white; color:gray">
                      <p style="padding-top:4%">k1, k2, k3 represent the constants of the each reaction in CRN and their values</p>
                      <div id="undeVinConstantele">
                       <div class="form-group">
                          <div class="input-group">
                            <p style="display:inline; padding-right:10%">k1</p>
                            <input class="w3-input w3-hover-blue" style="width:60%; display:inline;text-align:center; margin-top:8%" type="text" name="valk">
                            <br>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <p style="display:inline; padding-right:10%">k2</p>
                            <input class="w3-input w3-hover-blue" style="width:60%; display:inline;text-align:center; margin-top:8%" type="text" name="valk2">
                            <br>
                          </div>
                        </div><div class="form-group">
                          <div class="input-group">
                            <p style="display:inline; padding-right:10%">k3</p>
                            <input class="w3-input w3-hover-blue" style="width:60%; display:inline;text-align:center; margin-top:8%" type="text" name="valk3">
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                  <button id="register" type="submit" value="submmit" class="w3-button w3-black" onclick="window.location='grafic';" style="margin-top:1.8%; float:right" disabled="true" >Generate Graph</button>
                  </div>
              </form>
            </center>
          </div>
        </header>
      </div>
{#      <img src="static/grafic.svg" height="200" alt="">#}
{#       footer#}
{#      <footer class="w3-container w3-padding-54 w3-light-grey w3-center w3-opacity w3-xlarge" style="/*!margin-top:128px; margin-left:-2px;*/ position:absolute; bottom:0.7%; width:100%; padding-top:2%; padding-bottom:2%">#}
{#        <p class="w3-medium">2022@ <target="_blank" class="w3-hover-text-green">#}
{#            </a>#}
{#        </p>#}
{#      </footer>#}
      <script>

        // Toggle grid padding
        function myFunction() {
          let x = document.getElementById("myGrid");
          if (x.className === "w3-row") {
            x.className = "w3-row-padding";
          } else {
            x.className = x.className.replace("w3-row-padding", "w3-row");
          }
        }
        // Open and close sidebar
        function w3_open() {
          document.getElementById("mySidebar").style.width = "100%";
          document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }

		// Generate Species List
        function generateSpecs(specsList)
        {
            undeVinSpeciile = document.getElementById("undeVinSpeciile");
            undeVinSpeciile.innerHTML = "";

            specIndex = 0;
            for ( spec in specsList )
            {
                textToAppend = "<div class=\"form-group\">"+
                              "<div class=\"input-group\">"+
                              "<p style=\"display:inline;padding-right:10%\">"+specsList[specIndex]+"</p>"+
                              "<input id=\"NumberButton\" class=\"w3-input w3-hover-blue\" style=\"width:60%; display:inline; text-align:center;margin-top:8%\" type=\"number\" step=\"any\" name=\"valinit"+specIndex+"\" >"+
                              "</div>"+
                              "</div>";
                specIndex++;
                undeVinSpeciile.innerHTML = undeVinSpeciile.innerHTML + textToAppend;
            }
        }

        // Generate Reaction Constants List
        function generateConstante(constCount)
        {
            undeVinConstantele = document.getElementById("undeVinConstantele");
            undeVinConstantele.innerHTML = "";

            for ( let constIndex = 0; constIndex < constCount; constIndex++ )
            {
                textToAppend = "<div class=\"form-group\">"+
                        "<div class=\"input-group\">"+
                        "<p style=\"display:inline; padding-right:10%\">k"+(constIndex+1)+"</p>"+
                        "<input id=\"NumberButton\" class=\"w3-input w3-hover-blue\" style=\"width:60%; display:inline;text-align:center; margin-top:8%\" type=\"number\" step=\"any\" name=\"valk"+constIndex+"\" >"+
                        "</div>"+
                        "</div>";

                undeVinConstantele.innerHTML = undeVinConstantele.innerHTML + textToAppend;
            }
        }

        function updateInputs(filename)
        {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                //when it's done/all data has been transmitted and status OK
                if (this.readyState === 4 && this.status === 200) {
                    let jsonOBJ;
                    jsonOBJ = JSON.parse(this.responseText);

                    specsList = jsonOBJ.speciiList;
                    reactsCount = jsonOBJ.reactsCount;
                    reactsCount = jsonOBJ.reactsCount;
                    specCount = specsList.length

                    console.log(reactsCount)
                    console.log(specsList)
                    console.log(specCount)

                    generateSpecs(specsList);
                    generateConstante(reactsCount);
                }
            };
            xhttp.open("GET", "/crn_data?filename="+filename);
            xhttp.send();
        }


        function reactionFilenameChanged()
        {
            selectorItem = document.getElementById('comp_select');

            updateInputs(selectorItem.value);
        }


        reactionFilenameChanged();


/*
	Enable / Disable Button
*/

		function doCheck(){
			let allFilled = true;

			let inputs = document.getElementsByTagName('input');
			for(let i=0; i<inputs.length; i++){
				if(inputs[i].type == "number" && inputs[i].value == ''){
					allFilled = false;
					break;
				}
			}

			document.getElementById("register").disabled = !allFilled;
		}

		window.onload = function(){
			let inputs = document.getElementsByTagName('input');
			for(let i=0; i<inputs.length; i++){
				if(inputs[i].type === "number"){
					inputs[i].onkeyup = doCheck;
					inputs[i].onblur = doCheck;
				}
			}
		};
		

      </script>
  </body>
</html>
