<!DOCTYPE html>
<html>
<head>
	<title>Flask Graph</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="icon" href="../static/favicon.ico" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2-/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
</head>
	<body>

		<!-- Sidebar -->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    	<i class="fa fa-remove"></i>
  	</a>
 	<div class="w3-bar-block w3-center">
    	<a href="http://127.0.0.1:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>
        <a href="http://127.0.0.1:5000/input_user" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Show The Graph</a>
        <a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Details</a>
	</div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">
	<!-- Header -->
<div class="w3-opacity">
<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
<div class="w3-clear"></div>
<header class="w31-center w3-margin-bottom">
   
<h1 style="text-align:center;"><b>Chemical Reaction Network simulation tool</b></h1>
<h1 style="text-align:center;"><b>(CoNtRol-Sim)</b></h1>
<div style="width: 60%; left: 21%; padding-top:2%; position: relative">
<!--  <p><b>Apasa pentru a afisa graficul.</b></p>
  <p class="w3-padding-16"><button id="buton" class="w3-button w3-black" onclick="window.location='graph2';">Vezi graficul</button></p>
-->

<div class="content">
    $$
    \matrix{ & \bar{f_1} & \bar{f_2} & \bar{f_3} \cr
      k_1 & 0 & 0 & 1 \cr
      k_2 & 1 & 0 & 0 \cr
      k_3 & 0 & 0 & 1 \cr
      k_4 & 0 & 1 & 0 } \qquad
    $$

    Chemical reaction network theory is an area of applied mathematics
 that attempts to model the behavior of real-world chemical systems.
Since its foundation in the 1960s, it has attracted a growing research community,
 mainly due to its applications in biochemistry and theoretical chemistry</div>

<div class="content" style="padding-top:1%">
A chemical reaction network (CRN) comprises a set of reactants, a set of products and a
set of reactions. For example, the pair of combustion reactions:</div>
<div class="content" style="padding-top:1%">
2H<p style="font-size:9px; display:inline">2</p> + O<p style="font-size:9px; display:inline">2
</p> &rarr; 2H<p style="font-size:9px;display:inline">2</p>O<br>
&nbsp;&nbsp;&nbsp;C + O<p style="font-size:9px; display:inline">2</p> &rarr; CO<p style="font-size:9px; display:inline">2</p>
</div>
</div>

<br>
<div style="text-align: center;">
							<button id="Add" href="#" title="Add new reaction" style="height: 44px; width: 44px;">+</button>
							<button id="Remove" href="#" title="Remove last reaction" style="height: 44px; width: 44px;">–</button> 
							<button id="reset_reaction_button" href="#" title="Reset all reactions" style="height: 44px; width: 44px;">--</button>

{#    TODO tine minte sa incerci sa pui cu url_for('save_reactii') #}
    <form action="/save_reactii" id = "DynamicTextBox" class="contact-form" method="post">

	<input id="ecuatiiCount" type="hidden" value="f" name="ecuatiiCount"/>

	<div id="textboxDiv"></div>
							
	<div style="position: relative; left: 21%">
        <!--<p><b>Creare grafic personalizat.</b></p>-->
	<p class="w3-padding-16">
        <button id="buton" class="w3-button w3-black" type="submit">Generate Graph</button>
        </p>

    </div>

</form>

<div class="form-status-holder"></div>

{#    <img src="/static/grafic.svg" alt="my plot" width="150" height="150">#}

</div>

</header>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-54 w3-light-grey w3-center w3-opacity w3-xlarge" style="/*!margin-top:128px;  margin-left:-20px;*/ position:absolute;/*! bottom:0;*/ width:100%; padding-top:2%; padding-bottom:2%">

  <p class="w3-medium">2023@  <a target="_blank" class="w3-hover-text-green"></a> </p>

</footer>
    <script defer type="application/javascript" src="../static/home.js"></script>
    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          },
          svg: {
            fontCache: 'global'
          },
            processEnvironments: true,
        };

        MathJax.typeset();
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</body>
</html>
