<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!doctype html>
        <html>
        <title>Chemical Reaction Network(CRN)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/graph.css">
    <link rel="icon" href="../static/favicon.ico"/>
    <script src="../static/load-mathjax.js" async></script>


<body>
<!--Sidebar-->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
        <i class="fa fa-remove"></i>
    </a>
    <div class="w3-bar-block w3-center">
        <a href="http://192.168.1.50:5000" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>
        <a href="http://192.168.1.50:5000/input_user" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Show the
            Graph</a>
        <a href="http://192.168.1.50:5000/#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Details</a>
    </div>
</nav>
<!--Page Content-->
<div class="w3-content" style="max-width:1500px">
    <div class="w3-opacity">
        <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </span>
        <div class="w3-clear"></div>
        <header class="w31-center w3-margin-bottom">
            <h1 style="text-align:center;">
                <b>{{ pageName }}</b>
            </h1>
            <center style="transform:scale(0.8);margin-top:-3.5%">
                <div id='chart' class='chart' ”></div>
</body>
<div class="gen_graph" style="margin-top:0%">
    <br>
    <br>
    <div>
        <table>
            <tr>
                <th>Chemical Reaction Network</th>
                <th>Stoichiometric Matrix</th>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    {#        this where the beautified equations will be#}
                </td>
                <td style="vertical-align: top;">
                    {{ stoichMatrix }}
                </td>
            </tr>
            <tr>
                <th style="text-align: center;" colspan="2">Code that generated it</th>
            </tr>
            <tr>
                <td style="text-align: center;", colspan="2">
                    {% for e in antimony_code.split('\n') %}
                        {% autoescape false %}
                            {{ e | replace(" ","&nbsp;") }} <br>
                        {% endautoescape %}
                    {% endfor %}
                </td>
            </tr>
            <!-- <tr> -->
            <!-- <td>Test</td> -->
            <!-- <td>Test</td> -->
            <!-- </tr> -->
            <!-- <tr> -->
            <!-- <td>{{ message }}</td> -->
            <!-- <td>Test</td> -->
            <!-- </tr> -->
        </table>
    </div>
</div>
</header>
</div>
<!--Footer-->
<footer class="w3-container w3-padding-54 w3-light-grey w3-center w3-opacity w3-xlarge"
        style="/*!margin-top:128px; margin-left:-2px;*/  bottom:0.7%;  width:100%; padding-top:2%; padding-bottom:2%">
    <p class="w3-medium">2022@
        <target
        ="_blank" class="w3-hover-text-green">
        </a>
    </p>
</footer>
<script type="application/javascript" src="../static/graph.js"></script>
</body>
</html>
</title>
</head>
<body>

</body>
</html>