<!DOCTYPE html>
<html lang="en">
<title>Chemical Reaction Network</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/input_user.css">
<link rel="icon" href="../static/favicon.ico"/>
<script src="../static/load-mathjax.js" async></script>

<body>
<div class="w3-content" style="max-width:1500px">
    <!--HEADER-->
    <div class="w3-opacity">
        <a href="/"> <span class="w3-button w3-xxlarge w3-white w3-left"><i class="fa fa-home"></i></span></a>
        <div class="w3-clear"></div>
        <header class="w31-center w3-margin-bottom">
            <h1 style="text-align:center;">
                <b>Chemical Reaction Network (CRN)</b>
            </h1>
            <div style="width: 70%; left:15%; position:relative; transform:scale(0.9); margin-top:1%">
                <div style="text-align: center;">
                    <!--<h1>C</h1>-->
                    <form method="POST">
                        <div class="row">
                            <div class="content">
                                <div class="column" style="background-color:white; color:gray">

                                    <br>
                                    <br>
                                    <p style="display:inline; padding-right:10%">Start Time</p>
                                    <input value="0" placeholder="0" min=0 required id="NumberButton" type="number"
                                           step="any" class="w3-input w3-hover-blue"
                                           style="width:40%; display:inline; text-align:center" name="start_time"/>
                                    <br>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <br>
                                            <p style="display:inline; padding-right:10%">End Time</p>
                                            <input value="1000" min=1 required id="NumberButton" type="number"
                                                   step="any" class="w3-input w3-hover-blue"
                                                   style="width:40%; display:inline; text-align:center"
                                                   name="end_time"/>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <br>
                                                    <div></div>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <br>
                                            <p style="display:inline; padding-right:10%">Title of the Graph</p>
                                            <input value="Time " placeholder="Time dependency graph" type="text"
                                                   class="w3-input w3-hover-blue"
                                                   style="width:80%; display:inline; text-align:center" name="titlu">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <br>
                                                    <div></div>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <p style="display:inline; padding-right:10%">x_title</p>
                                            <input value="time" placeholder="time" type="text"
                                                   class="w3-input w3-hover-blue"
                                                   style="width:80%; display:inline; text-align:center" name="x_titlu">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <br>
                                                    <div></div>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <p style="display:inline; padding-right:10%">y_title</p>
                                            <input value="concentration" placeholder="concentration" type="text"
                                                   class="w3-input w3-hover-blue"
                                                   style="width:80%; display:inline; text-align:center" name="y_titlu">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <br>
                                                    <div></div>
                                                </div>
                                                <div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="column"
                                     style="background-color:white; color:gray; border-left-width:1px; border-left-style:solid; border-right-width:1px; border-right-style:solid">
                                    <p style="padding-top:4%">A, B, C represent the species of the chemical reaction
                                        network together with the initial values of each species</p>

                                    {#                                    concentratia speciilor #}
                                    <div id="undeVinSpeciile">
                                        {% for species in species_data.speciiList %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label style="display:inline;padding-right:10%" for="NumberButton">{{ species }}</label>
                                                    <input
                                                            required id="NumberButton"
                                                            class="w3-input w3-hover-blue"
                                                            style="width:60%; display:inline; text-align:center;margin-top:8%"
                                                            type="number" step="any"
                                                            name="valinit{{ loop.index }}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>


                                    {#                                    checkboxuri cu care dintre specii vrei in graph  #}
                                    <p style="padding-bottom: 10px;">Which species do you wanna display?</p>
                                    <div class="form-group" style="margin-top: 20px;" id="checkboxes">
                                        {% for species in species_data.speciiList %}
                                            <input checked type="checkbox" id="check{{ loop.index }}"
                                                   name="check{{ loop.index }}"
                                                   value="{{ species }}">
                                            <label for="check{{ loop.index }}">{{ species }}</label>
                                            <br>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>


                            {#                            constantele de reactie pt fiecare reactie#}
                            <div class="content">
                                <div class="column" style="background-color:white; color:gray">
                                    <p style="padding-top:4%">k1, k2, k3 represent the constants of each reaction in
                                        CRN and their values</p>

                                    <div id="undeVinConstantele">
                                        {% for constIndex in range(species_data.reactsCount) %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label for="NumberButton"
                                                           style="display:inline; padding-right:10%">k{{ constIndex + 1 }} </label>
                                                    <input required id="NumberButton" class="w3-input w3-hover-blue"
                                                           style="width:60%; display:inline;text-align:center; margin-top:8%"
                                                           type="number" step="any" name="valk{{ constIndex }}">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                                <button id="register" type="submit" value="submit" class="w3-button w3-black"
                                        style="margin-top:1.8%; float:right" disabled="true">Generate Graph
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    </div>
</div>
<script type="module" src="../static/time_series_input_user.js"></script>
</body>
</html>
